* {
	margin:0;
	padding: 0;
}
html {
	height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
form {

}
h1{
	color:#212121;
}
form input {
	border: 0;
	padding: 10px 0px 10px 0px; 
	width: 90%;
}
form button { 
	width: 9.5%; 
	background: #00BCD4;
	border: none; 
	margin-left:auto;
	margin-right:auto;
	padding: 10px 0px 10px 0px; 
}
#main{
	position:relative;
	height:100%;
	width: -moz-calc(100% - 280px); /* Firefox */
 	width: -webkit-calc(100% - 280px); /* Chrome, Safari */
 	width: calc(100% - 280px);
	float:left;
}
#menu{
	color:#CFD8DC;
	position:relative;
	float:left;
	height:100%;
	width:280px;
	background:#607D8B;
}
#menu h1 {
	color:#FFF;
	padding:10px 20px 10px 20px;
}
#menu h4 {
	color:#CFD8DC;
	padding:0px 20px 0px 20px;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messagebox{
    overflow-x:hidden;
    overflow-y:visible;
	width:100%;
	height: -moz-calc(100% - 110px); /* Firefox */
 	height: -webkit-calc(100% - 110px); /* Chrome, Safari */
 	height: calc(100% - 110px);
	display:block;
	overflow-y:scroll;
}
#chat-input{
	background: #212121; 
	padding:0.25%;
	position:fixed;
	bottom: 0;
	width: -moz-calc(100% - 280px); /* Firefox */
 	width: -webkit-calc(100% - 280px); /* Chrome, Safari */
 	width: calc(100% - 280px);
}
a {
  color: #00B7FF;
}